
{% block title %}
<h2><i> Installation Key </i></h2>
<br>
{% endblock %}

{% block content %}
{% if installation_key %}
<div class="row">
    <div class="panel-body">
        <h5> ID: {{ installation_key.installation_key }} </h5>
        <h5> Lat: {{ installation_key.lat }} </h5>
        <h5> Lon: {{ installation_key.long }} </h5>
        <h5> SC: {{ installation_key.system_capacity }} </h5>
        <br>
    </div>
</div>

{% else %}
    <p>No such installation key available.</p>
{% endif %}
{% endblock %}