
{% block title %}
<h2><i>Reference Data</i></h2>
<h3>Date: {{ date }} </h3>
<h4>Lat: {{ lat }} </h4>
<h4>Lon: {{ lon }} </h4>
<h4>SC: {{ sc }} </h4>
<br>
{% endblock %}

{% block content %}
{% if error_message %} {{ error_message }} {% endif %}

{% if rdc_hr_today %}
<div class="row">
    {% for value in rdc_hr_today %}
    <div class="col-xs-6 col-lg-4">
        <div class="panel panel-default">
    <div class="panel-body">
        <h5> DC Power: {{ value }} </h5>
        <h5> Hour: {{ forloop.counter0 }}:00:00 </h5>
        <br>
    </div></div></div>
    {% endfor %}
</div>

{% else %}
    <p>No reference data available.</p>
{% endif %}
{% endblock %}